---
import Layout from "../layouts/Layout.astro";
import UploadForm from "../components/UploadForm.astro";
import UploadFormTest from "../components/UploadFormTest.astro";
import Preview from "../components/Preview.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="hero">
      <h1>hero section</h1>
    </section>
    <section class="upload">
      <UploadForm />
      <!-- <UploadFormTest /> -->
    </section>
    <Preview />
  </main>
</Layout>

<style></style>
