---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'input'>;

const inputAttributes = Astro.props;
---

<div
  class="relative mb-2 inpunt"
>
  <label class="w-full block" class="label-wrapper">
    <slot />
    <input class:list={['w-full border-black border-2 rounded-md overflow-hidden mt-1 px-2 py-1']} {...inputAttributes} />
  </div>
</div>
