---
import Input from './Input.astro';
---

  <form class="bg-slate-50 py-8 px-4 rounded-md upload-form" method="POST" action="http://localhost:8080/image">
    <Input name="title" type="text">Image Title</Input>
    <Input name="imagefiles" type="file">Bilder</Input>
    <button class="bg-purple-700 py-1 px-4 mt-2 text-white rounded-md uppercase">submit</button>
  </form>

<script>
  document.querySelector('form.upload-form')?.addEventListener('submit', (e: any) => {
    e.preventDefault();
    console.log(e);
    const formData = new FormData(e.target);
    fetch(e.target.action, {
      method: 'POST',
      body: formData,
    }).then((res) => {
      console.log(res);
    }).catch((err) => {
      console.log(err);
    })
  });
</script>

<style>
  .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
