---
import Input from './Input.astro';
---

<div class="upload-form">
  <form class="" action="">
    <Input name="title" type="text">Image Title</Input>
    <Input name="imagefiles" type="file">Bilder</Input>
  </form>
</div>

<style>
  .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
